*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	--primary-bg-color: #fff;
	--secondary-bg-color: #f2f2f2;
	--tertiary-bg-color: #dcdcdc;
	--text-color: #000;
	--btn-bg-color: var(--text-color);
	--btn-text-color: var(--primary-bg-color);
	--btn-hover-bg-color: #333;

	margin: 0;
	color: var(--text-color);
	background-color: var(--primary-bg-color);
	font-family: "Ubuntu", sans-serif;
	transition: all 0.4s ease-in-out;
}

body.dark-theme {
	--primary-bg-color: #0f0f0f;
	--secondary-bg-color: #010101;
	--tertiary-bg-color: #1b1e2e;
	--text-color: #3f51b5;
	--btn-bg-color: var(--text-color);
	--btn-text-color: var(--primary-bg-color);
	--btn-hover-bg-color: #f2f2f2;
}

img {
	width: 100%;
	height: auto;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.center-text {
	text-align: center;
}

body.blurred::before {
	content: "Loading...";
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--primary-bg-color);
	font-size: 90px;
	z-index: 100;
}

body.blurred::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--text-color); /* fallback for old browsers */
	background: -webkit-linear-gradient(45deg, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		45deg,
		#434343,
		#000000
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	z-index: 99;
}

header {
	background: var(--secondary-bg-color);
	padding: 15px 0;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 9;
	box-shadow: 0 0 5px 0px rgb(0 0 0 / 30%);
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav h1 a {
	color: var(--text-color);
}

header nav ul {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--primary-bg-color);
	padding: 50px 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: flex;
	list-style: none;
	margin: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease-in-out;
}

header nav ul.show-menu {
	opacity: 1;
	visibility: visible;
}

header nav ul li {
	padding: 20px;
}

header nav ul li a {
	color: var(--text-color);
	opacity: 0.8;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

header nav ul li a:hover {
	opacity: 1;
}

header nav ul li a.menu-btn {
	background: var(--text-color);
	color: var(--primary-bg-color);
	text-decoration: none;
	padding: 12px 30px;
	border-radius: 8px;
	transition: all 0.3s ease-in-out;
}

header nav ul li a.menu-btn:hover {
	background: var(--btn-hover-bg-color);
	color: var(--secondary-bg-color);
}

.menu-toggler {
	width: 30px;
	height: 30px;
	position: relative;
	z-index: 9;
	cursor: pointer;
}

.menu-toggler span::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: var(--btn-bg-color);
	transition: all 0.3s ease-in-out;
}

.menu-toggler span:nth-child(2)::before {
	top: 13px;
}

.menu-toggler span:nth-child(3)::before {
	top: 27px;
}

.menu-toggler.close-menu span::before {
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}

.menu-toggler.close-menu span:nth-child(2)::before {
	display: none;
}

.menu-toggler.close-menu span:nth-child(3)::before {
	top: 50%;
	transform: translateY(-50%) rotate(130deg);
}

.dark-theme-toggler button {
	cursor: pointer;
	border: none;
	background: none;
}

body .moon-icon {
	display: none;
}

body.dark-theme .sun-icon {
	display: none;
}

body.dark-theme .moon-icon {
	display: block;
}

section {
	padding: 50px 0;
	scroll-margin: 50px;
}

.about-left-col {
	flex: 0 0 50%;
}

.about-right-col {
	flex: 0 0 30%;
}

.about-left-col h2 {
	font-size: 36px;
	margin-bottom: 0;
	font-weight: 400;
}

.about-left-col h3 {
	font-size: 28px;
}

.about-left-col h2 span {
	font-weight: 700;
	font-style: italic;
}

.about-left-col p {
	font-size: 18px;
	line-height: 1.35;
}

a.btn {
	background: var(--text-color);
	color: var(--primary-bg-color);
	text-decoration: none;
	padding: 12px 30px;
	display: inline-block;
	border-radius: 8px;
	transition: all 0.3s ease-in-out;
}

a.btn:hover {
	background: var(--btn-hover-bg-color);
	color: var(--secondary-bg-color);
}

.about-right-col {
	margin-top: 30px;
}

.skills-wrapper {
	background: var(--secondary-bg-color);
}

.skills-wrapper .centered-block {
	max-width: 650px;
	margin: 0 auto;
	padding-bottom: 50px;
}

.skills-wrapper .centered-block h3 {
	font-size: 30px;
}

.skills-wrapper .centered-block p {
	font-size: 18px;
	line-height: 1.35;
}

.skills-block-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.skills-block-wrap > h3 {
	flex: 0 0 100%;
}

.skill-wrap {
	border: 1px solid;
	flex: 0 0 100%;
	text-align: center;
}

.skill-wrap h4 {
	background: var(--tertiary-bg-color);
	margin: 0;
	padding: 20px;
}

.skill-wrap ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.skill-wrap ul li {
	padding: 20px 8px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	position: relative;
}

.skill-wrap ul li span {
	display: block;
}

.skill-wrap ul li span::after {
	content: "";
	background: repeating-linear-gradient(125deg, #ffeb3b, #ffffff 10px);
	width: inherit;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	transition: all 0.8s ease-in-out;
}

.skill-wrap ul li span::before {
	content: attr(data-label);
	color: var(--text-color);
	font-size: 18px;
	font-weight: 700;
	font-family: "Ubuntu", sans-serif;
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.work-item a {
	color: var(--text-color);
}

.contact-wrapper {
	background: var(--tertiary-bg-color);
}

ul.contact-links {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

ul.contact-links li {
	margin-right: 20px;
}

ul.contact-links img {
	width: 30px;
	height: 30px;
}

footer {
	padding: 20px 0;
	background: var(--secondary-bg-color);
}

@media screen and (min-width: 768px) {
	.dark-theme-toggler {
		border-left: 1px solid var(--text-color);
	}

	header .menu-toggler {
		display: none;
	}

	header nav ul {
		opacity: 1;
		visibility: visible;
		position: static;
		flex-direction: row;
		background: transparent;
		padding: 0;
		justify-content: flex-end;
		flex: 0 0 70%;
	}

	header nav ul li:not(:last-child) {
		padding-right: 24px;
	}

	.two-col-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.about-right-col {
		margin-top: 0;
	}

	.about-right-col img {
		filter: blur(2px) grayscale(1);
		transition: all 0.3s ease-in-out;
	}

	.about-right-col img:hover {
		filter: none;
	}

	.skill-wrap {
		flex: 0 0 33.33%;
	}
}
